body {
    background: url('/img/hojas.jpg');
    background-attachment: fixed; /*Para que cuando se haga scrollo la imagen se quede fija*/
}

#logo {
      background: #235E3D;
}



#menu ul li:hover {
    background: #235E3D;
}

.button-more {
        background: #235E3D;
}

.subir {
        color: #235E3D;
}

#logout {
    background: #235E3D;
}